*{
    padding: 0%;
    margin: 0%;
    font-family: monospace;
}

header{
    background-color: #023554;
    color:  #DECBB0;
}

.menu{ 
    background-color: #DECBB0;
    position: fixed;
    display: flex;
    margin-left: 55%;
    margin-top: 2%;
    border: 1px solid rgb(0, 0, 0); 
    border-radius:15px;
    opacity: 80%;
}
.opcaomenu{
    margin: 5px;
    padding: 2px;
}
.nomeabas{
    text-decoration: none;
    color: #023554;
}
.fotonomefrases{
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 5%;
    
}
.frases{
  color:  #DECBB0;
  margin-top: 2%;
  margin-left: 10%;
  padding: 10%;
  text-align: center;
}
.nomefoto{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:  #DECBB0;;
  margin-left: 6%;

}
h1{
    font-size: 40px;
}
.perfil{
    width: 350px;
    height: 350px;
    margin-top: 20%;
    border-radius: 20%;
    border: 5px solid #DECBB0;
    -webkit-filter: drop-shadow(0px 0px 20px #000000); 
    filter: drop-shadow(0px 0px 20px #000000);

}
.cargo{
    font-size: 20px;
    color:  #DECBB0;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 3s steps(13) infinite alternate,
      blink 1000ms steps(13) infinite normal;
    border-right: 5px solid black;
  }
  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    from {
      border-color: black;
    }
    to {
      border-color: transparent;
    }
  }


















  @media (max-width:  600px){ 
    
  .menu{ 
      position: relative;
      display: flex;
      justify-content: center;
      background-color: #DECBB0;
      margin-left: 0%;
      margin-top: 0%;
      opacity: 80%;
  }
  .opcaomenu{
      margin: 5px;
      padding: 2px;
  }

  .nomeabas{
      text-decoration: none;
      color: #023554;
      font-size: 10px;
  }

  
  .fotonomefrases{
   
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: auto;
  }
  .frases{
    color:  #DECBB0;
    margin-left: auto;
    text-align: center;
  }
  .nomefoto{
   margin-top: 7%;
   
  }
  h1{
      font-size: 40px;
      
  }
  .perfil{
      width: 250px;
      height: 250px;
      margin-top: 20%;
     
      border-radius: 60%;
      border: 5px solid #DECBB0;
      -webkit-filter: drop-shadow(0px 0px 20px #000000); 
      filter: drop-shadow(0px 0px 20px #000000);
  
  }


.cargo{
  font-size: 18px;
  color:  #DECBB0;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 3s steps(13) infinite alternate,
    blink 1000ms steps(13) infinite normal;
  border-right: 5px solid black;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}



   }