.projetos{
    background-color: #DECBB0;
    color: #023554;
}

.caixaProjeto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 3%;
}
.caixaproj{
    padding: 3%;
}

a{
    text-decoration: none;
}

@media (max-width:  600px){ 
    .caixaProjeto{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}