.certificados{
    background-color: #DECBB0;
}
.caixamain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 3%;
    
}
.caixaCertificado{
    padding: 3%;
}

.imgCertificados{
    width: 150px;
    height: 100px;
}

