.ferramentas{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #023554;
    color: #DECBB0;
    align-items: center;
    padding: 3%;
     
 }
 .ferramenta{
  margin-top: 4%;
 
 }
 .imgF{
     margin-top: 3%;
     width: 100px;
     height: 100px;
 }
 .imgFp{
    color: #DECBB0;
    margin-top: 3%;
     width: 100px;
     height: 100px;
 }
 .ff{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 15vh
 }