.SessaoSobremimHabilidades
{
    background-color: #DECBB0;
    padding: 5%;
    
}

/* 

ESTILIZAÇÃO PARA AREA DO SOBRE MIM 

*/
.areaPrincipal{
    display: flex;
   text-align: right;
   align-items: center;
    padding: 3%;
 
}

.areaDetalhe{
    display: flex;
    text-align: left;
    justify-content: center; 
    align-items: center;
}
/* 

ESTILIZAÇÃO PARA AREA DE HABILIDADE

*/
.habilidade{
    color:  #023554;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 8%;
    
   
    
}
.listaHabilidade{
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.753);

    text-align: center;
    font-size: 18px;
    border: #023554 solid;
    padding: 2%;
    border-radius: 5%;
}

.curriculo{

    font-size: 25px;
    color: #023554;
}


@media (max-width:  800px){ 

    .areaPrincipal{
    display: flex;
    padding-top: 8%;
    text-align: center;
   
    }
    .gifPrimeiro{
     height: 130px;
    }

    .areaDetalhe{
    display: flex;
    flex-wrap: wrap-reverse;
    padding-top: 5%;
    text-align: center;
    }
   

}